body {
  --opposite-color: rgb(250, 250, 250);
  --main-color: rgb(29, 29, 29);
  --main-color-five-lighter: rgb(40, 40, 40);
  --main-color-ninety-five-alpha: rgba(29, 29, 29, 0.95);
  --main-color-fifty-alpha: rgba(29, 29, 29, 0.5);
  --accent-color: rgb(255, 87, 80);
  --animation-timing-function: ease-out;
  --animation-duration: 200ms;
  --header-height: 90px;
  --backdrop-filter: blur(10px);
}

.headlineOne {
  font-size: 50px;
  font-weight: 600;
}

.headlineTwo {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.headlineThree {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--header-height) + 60px) 0 30px 0;
}

.button {
  height: 35px;
  background-color: var(--accent-color);
  text-transform: uppercase;
}

.fadingIn {
  animation: fadeIn;
  animation-duration: var(--animation-duration);
  animation-timing-function: var(--animation-timing-function);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}