@import "./styles/global.css";
@import "./styles/montserrat.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

body {
  overflow: auto;
  bottom: 0;
  animation: none;
}

button,
input,
textarea,
a {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button {
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
}

option {
  color: initial;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}
